:root {
    --cor1: #012340;
    --cor2: #0f4c5e;
    --cor3: #669117;
    --cor4: #daeef7;
    --cor5: #83d4c5;

    --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background-color: var(--cor3);
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

hr {
    border: 1px solid var(--cor3);
    width: 45%;
    margin-bottom: 5px;
    
}

h1 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 48px;
    margin-top: 10px;
}

h2 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

h3 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 24px;
}

h4 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 14px;
}

p {
    font-family: var(--font1);
    font-size: 14px;
}

a {
    font-family: var(--font1);
    font-size: 14px;
}

.container {
    background-color: rgba(217, 237, 247, 0.753);
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.301);
}

.dados {
    padding: 0px 5px;
}

.perfil {
    padding: 3px 10px;
}

.perfil img {
    border-radius: 50%;
    max-width: 200px;
    margin: auto;
}

.perfil h1 {
    text-align: center;
}

.perfil h2 {}

.perfil p {}

.contatos {
    padding: 3px 10px;
}

.contatos p {}

.contatos a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.contatos img {
    margin-right: 5px;
    display: inline;
    width: 20px;
}

.linguagem {
    padding: 3px 10px;
}

.linguagem h2 {}

.linguagem div {}

.linguagem div p {
    display: inline;
}

.linguagem div progress {
    float: right;
    width: 75%;
}

.informacoes {
    padding: 0px 5px;
}

.escolaridade {}

.escolaridade h2 {}

.escolas {
    padding: 5px 10px;
}

.escolas div {}

.escolas div p {}

.cursos {}

.cursos h2 {}

.curso {
    padding: 5px 10px;
}

.curso div {}

.curso div p {}

.projetos {
    background-color: rgba(1, 35, 64, 0.377);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}

.item-projeto {
    padding: 3px 5px;
}

.item-projeto h2 {}

.projeto {
    
    padding: 5px 0;
}

.projeto div button {}

.projeto img {
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.301);
}

