:root {
    --cor1: #012340;
    --cor2: #0f4c5e;
    --cor3: #669117;
    --cor4: #daeef7;
    --cor5: #83d4c5;

    --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background-color: var(--cor3);
    background-image: url(fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

hr {
    border: 1px solid var(--cor3);
    width: 45%;
    margin-bottom: 5px;
}

h1 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 48px;
    margin-top: 10px;
}

h2 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

h3 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 24px;
}

p {
    font-family: var(--font1);
    font-size: 14px;
}

.container {
    background-color: hsla(199, 64%, 91%, 0.753);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.301);
}

.dados {
    padding-top: 10px;
    padding-bottom: 5px;
}

#img-perfil {
    max-width: 200px;
    border-radius: 50%;
    margin: auto;
}

#perfil {
    padding-left: 10px;
}

.icone {
    display: inline;
    width: 15px;
    margin: 0;
    padding: 0;
    padding: 0 10px;
}

.dados h1 {
    text-align: center;
}

#conhecimentos {
    text-align: center;
}

.dados h2 {
    display: inline-block;
}

.dados p {
    font-family: var(--font2);
    font-size: 0.8em;
}

.contatos a {
    font-size: 18px;
    text-decoration: none;
    color: black
}

.dados div {
    margin-bottom: 10px;
}

.linguagem p {
    display: inline-block;
}

.informacoes {
    padding-top: 10px;
    padding-bottom: 0;
}

.informacoes h2 {
    display: inline-block;
}

.informacoes div {
    margin-bottom: 10px;
}

#escolaridade, #cursos {
    margin-bottom: 0;
}

.cursos-pq {
    display: none;
}

.item-projeto {
    margin: 10px auto;
}

.item-projeto a h3 {
    color: black;
}

.item-projeto div p {
    padding-left: 10px;
    display: block;
}

.item-projeto div {
    margin: 5px 0;
}


.item-projeto img{
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.301);
}

.item-projeto button {
    background-color: var(--cor2);
    margin: 0 7px;
    padding: 0 3px;
}

.item-projeto  a {
    text-decoration: none;
    font-family: var(--font2);
    color: white;
    font-weight: bold;
}

.traco2 {
    display: none;
}

@media (max-width: 740px) {
    * {
        margin: 0;
        padding: 0;
    }

    .dados, .informacoes, .projetos {
        margin: 10px;
    }

    #escolaridade div {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    #cursos {
        margin: 0;
    }

    .cursos-gr {
        display: none;
    }

    .cursos-pq {
        display: block;
    }

    .traco2 {
        display: block;
        border: 1px solid var(--cor1);
        width: 100%;
        margin: 5px auto;
    }
}