:root {
    --cor1: #012340;
    --cor2: #0f4c5e;
    --cor3: #669117;
    --cor4: #daeef7;
    --cor5: #83d4c5;

    --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background-color: var(--cor3);
    background-image: url(fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

hr {
    border: 1px solid var(--cor3);
    width: 45%;
}


.container {
    background-color: hsla(199, 64%, 91%, 0.753);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.301);
}

.dados {
    padding-top: 10px;
    padding-bottom: 5px;
}

#perfil {
    max-width: 200px;
    border-radius: 50%;
    margin: auto;
}

.icone {
    display: inline;
    width: 15px;
    margin: 0;
    padding: 0;
}

.dados h1 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.dados h2 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 1.5em;
}

.dados p {
    font-family: var(--font2);
    font-weight: lighter;
    font-size: 0.8em;
}

.informacoes {
    padding-top: 10px;
    padding-bottom: 5px;
}





.projetos {
    padding-top: 5px;
}


