/*-----CONTAINER PADRÃO-----*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/*-----ELEMENTOS QUE VÃO GARANTIR O FORMATO DO CONTAINER QUANDO HOUVER FLOAT-----*/
.container::after, .container::before {
    content: '';
    display: table;
    clear: both
}

/*-----ELEMENTOS QUE VÃO GARANTIR QUE AS IMAGENS FIQUEM RESPONSIVAS-----*/
img {
    width: 100%;
    display: block;
}

/*-----GRID DESKTOP E TALET-----*/

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 {
    float: left;
}

.grid-1 {width: calc(8.333% - 10px)}
.grid-2 {width: calc(16.666% - 10px)}
.grid-3 {width: calc(25% - 10px)}
.grid-4 {width: calc(33.333% - 10px)}
.grid-5 {width: calc(41.666% - 10px)}
.grid-6 {width: calc(50% - 10px)}
.grid-7 {width: calc(58.333% - 10px)}
.grid-8 {width: calc(66.666% - 10px)}
.grid-9 {width: calc(75% - 10px)}
.grid-10 {width: calc(83.333% - 10px)}
.grid-11 {width: calc(91.666% - 10px)}
.grid-12 {width: calc(100% - 10px)}

/*-----GRID MOBILE-----*/

@media (max-width: 739px) {
    .container {
        max-width: 300px;
        display: block;
        }
    
    
    .grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 {
    margin: auto;
    float: none;
    width: 98%
    }
}









