/*-----CONTAINER PADRÃO-----*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/*-----ELEMENTOS QUE VÃO GARANTIR O FORMATO DO CONTAINER QUANDO HOUVER FLOAT-----*/
.container::after, .container::before {
    content: '';
    display: table;
    clear: both
}

/*-----ELEMENTOS QUE VÃO GARANTIR QUE AS IMAGENS FIQUEM RESPONSIVAS-----*/
img {
    width: 100%;
    display: block;
}

/*-----GRID DESKTOP E TALET-----*/

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 {
    float: left;
}

.grid-1 {width: 8.333%}
.grid-2 {width: 16.666%}
.grid-3 {width: 25%}
.grid-4 {width: 33.333%}
.grid-5 {width: 41.666%}
.grid-6 {width: 50%}
.grid-7 {width: 58.333%}
.grid-8 {width: 66.666%}
.grid-9 {width: 75%}
.grid-10 {width: 83.333%}
.grid-11 {width: 91.666%}
.grid-12 {width: 100%}

/*-----GRID MOBILE-----*/

@media (max-width: 739px) {
    .container {
        max-width: 300px;
        display: block;
        }
    
    
    .grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 {
    margin: auto;
    float: none;
    width: 98%
    }
}









