@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37; 
    --cor6: #063d1e;
    --cor7: white;
    --cor8: black;

    --font1: Arial, Verdana, Helvetica, sans-serif;
    --font2: 'Bebas Neue', cursive;
    --font3: 'Android', cursive;
}

body {
    background-color: var(--cor1);
    font-family: var(--font1);
}

a.externo::after {
    content: '\00a0\1f517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header h1 {
    color: var(--cor7);
    font-family: var(--font2);
}

header p {
    font-family: var(--font1);
    color: var(--cor7);
    margin: 20px 0;
}

header nav a {
    color: var(--cor7);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

header nav a:hover {
    color: var(--cor8);
    background-color: var(--cor2);

}

main {
    min-width: 400px;
    max-width: 800px;
    background-color: var(--cor7);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong {
    color: var(--cor6);
}

main a {
    color: var(--cor6);
    text-decoration: none;
    background-color: var(--cor2);
    padding: 2px 6px;
    font-weight: bold;
}

main a:hover {
    color: var(--cor2);
    text-decoration: underline;
    background-color: var(--cor6);
}


main img{
    width: 100%;
    margin: auto;
}

#Img-pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor6);
    font-family: var(--font3);
}

main h2 {
    color: var(--cor5);
    font-family: var(--font3);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding: 5px 10px;
}

div.video {
    background-color: var(--cor5);
    margin: 0 -20px 20px -20px;
    padding: 15px;
}

div.video iframe {
    width: 100%;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.349);
}

aside h3 {
    background-color: var(--cor4);
    color: var(--cor7);
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

aside ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
    text-align: center;

}

footer {
    background-color: var(--cor6);
    color: var(--cor7);
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}

footer a {
    color: var(--cor7);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor2);
    text-decoration: underline;
}