@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald
*/

.topo-1 {
    margin: auto;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topo-1 img {
    width: 200px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .topo-1 img {
        width: 220px;
        margin: 4% 2%;
        float: left;
    }
}

.topo-1 button {
    display: none;
}

@media (max-width: 500px) {
    .topo-1 button {
        float: right;
        display: flex;
        background: var(--Cor1);
        border: none;
        padding: 4% 5%;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: var(--font2);
        font-size: bold;
        color: var(--Cor5);
        margin: 7% 2%;
        align-items: center;
    }

    .topo-1 button::before {
        margin-right: 5%;
        content: '';
        height: 2px;
        width: 15px;
        background: var(--Cor5);
        box-shadow: 0 4px, 0 -4px;
    }
}

.menu-mobile {
    display: none;
}

@media (max-width: 500px) {  
    .menu-mobile {display: block;}

    .menu-mobile ul {
        height: 740px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        background-color: var(--Cor1);
        z-index: 900;
        width: 150px;
    }

    .menu-mobile ul div {}

    .menu a {
        width: 150px;
        padding: 10px 0;
        display: block;
        margin: 0;
        text-align: center;
    }

    .redes {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .redes a {
        margin: 0;
        padding: 10px;
        height: 30px;
        width: 30px;
    }

    .redes a img {
        width: 30px;
        margin: 0;
    }
}

nav {}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 44px;
    margin: 0;
}


nav ul a {
    font-family: var(--font3);
    color: white;
    padding: 10px 10px;
    margin: 3px;
    text-decoration: none;
    border-radius: 5px;
}

nav ul a:hover {
    background-color: var(--Cor6);
    text-decoration: none;
    color: white;
}


.topo-2 {
    background-color: var(--Cor1);
    height: 50px;
}

@media (max-width: 500px) {
    .topo-2 {display: none;}

    .menu-invisivel {
        display: none;
    }
}