@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald
*/

body {
    margin: 0;
    padding: 0;
}

footer {
    margin: 0;
    padding: 0;
}

.rodape-1 {
    width: 100%;
    margin: 2% 0 0 0;
    padding: 0;
    background-color: var(--CorCilente2);
    height: 120px;
}

.tex-rodape1 {
    margin: 0;
    padding: 0;
    font-family: var(--font2);
    color: var(--CorTexto1);
    text-align: right;
    margin: 3% 0;
}

.botao01{
  background: var(--CorCilente1);
  border: 1px solid #CCCCCE;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
             0 2px 7px rgba(0, 0, 0, 0.2);
  color: var(--CorTexto3)  ;
  display: block;
  font-family: var(--font1);
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  position: relative;
  width: 170px;
  margin: 3% 1%;
}

.botao01:before{
  border: 1px solid #FFF;
  border-radius: 3px;
  box-shadow: inset 0 -2px 12px -4px rgba(70, 70, 70, .2),
               inset 0 3px 2px -1px rgba(255, 255, 255, 1);
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px;
  position: absolute;
}

.botao01:after{
  border-radius: 2px;
  content: "";
  bottom: 10px;
  left: 0px;
  right: 0px;
  top: 0px;
  position: absolute;
}

 .botao01:active{
  box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
  top: 4px;
}

.botao01:active:before{
  border: none;
  box-shadow:none;
}

.rodape2 {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--CorCilente1);
  height: auto;
}

.rodape-endereco {
  height: auto;
}

.endereco {
  margin: 15px;
  font-family: var(--font2);
  font-size: 1em;
}

.img-rodape {
  float: right;
  width: 30px;
  margin: 10px 5px;
}

/*---------------GRID MOBILE---------------*/
@media (max-width: 739px) {
    
    .rodape-1 {height: auto;}

    .tex-rodape1 {
        font-size: 1.2em;
        margin-top: 10%;
        text-align: center;
    }

    .botao01 {
        width: 60%;
        margin: auto;
        margin-bottom: 5%;
    }

    .rodape2 {height: 115px;}

    .endereco {
        margin: 2% 0;
        padding: 2% 20%;
        text-align: center;
        font-size: 0.8em;
    }

    .img-rodape {
    float: left;
      width: 30px;
      margin: 10px 15px;
    }
  
}
