@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald

@media (max-width: 500px) {}
*/

.informacao {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

@media (max-width: 500px) {
    .informacao {
        width: 300px;
    }
}

.mapa {
    width: 380px;
    margin: 10px 0;
}

@media (max-width: 500px) {
    .mapa {
        width: 300px;
        margin: 10px auto;
    }
}

.mapa h1 {
    color: var(--Cor4);
    font-family: var(--font2);
    text-align: center;
    margin-bottom: 20px;
}

.mapa h2 {
    color: var(--Cor4);
    font-family: var(--font1);
    font-size: 1em;
    text-align: center;
}

.mapa h3 {
    color: var(--Cor4);
    font-family: var(--font1);
    font-size: 2em;
    text-align: center;
}

.mapa h3 a{
    color: var(--Cor4);
    font-family: var(--font1);
    text-align: center;
    text-decoration: none;
}

.mapa iframe {
    margin: 1%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.contato {
    width: 380px;
    margin: 10px 0;
}

@media (max-width: 500px) {
    .contato {
        width: 300px;
        margin: 10px auto;
        margin-top: 30px;
    }
}

.contato h1 {
    color: var(--Cor4);
    font-family: var(--font2);
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 500px) {}

.contato a {}

.contato a img {
    margin: 1%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 500px) {
    .contato a img {
        margin: 10px auto;
        width: 300px;
    }
}
