@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald
*/


/*----------------------LINHA DE PRODUTOS----------------------*/
.corpo-linha-de-produtos {
    max-width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 500px) {
    .corpo-linha-de-produtos {
        max-width: 300px;
    }
}

.linhas {
    width: 190px;
    height: auto;
    margin: 5px;
}

.linhas img {
    width: 150px;
    display: block;
    margin: auto;
}

.linhas img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.linhas h3 {
    font-family: var(--font3);
    text-align: center;
}

.linhas p {
    font-family: var(--font2);
    text-align: center;
}


/*----------------------INSTAGRAM----------------------*/
.feedInstagram {
    margin: 5% auto;
    height: auto;
    background-image: linear-gradient(to top, white, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%,white);
}

@media (max-width: 500px) {
    .feedInstagram {
        display: none;
    }
}

.conteudo-insta {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 500px) {
    .conteudo-insta {
        max-width: 300px;
        margin: auto;
    }
}

.video-insta {}

.img-insta {}

.img-insta img {
    max-height: 220px;
    margin: 10px;
    border-radius: 5%;
}
