@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald
*/

.titulo {
    font-family: var(--font3);
    text-align: center;
    padding: 20px 0;
    color: var(--Cor4);
}

@media (max-width: 500px) {
    .titulo {
        width: 100%;
        font-size: 0.8em;
        margin: 0;
        background-color: var(--Cor1);
        font-family: var(--font3);
        text-align: center;
        margin-bottom: 20px;
        color: var(--Cor5);
    }
}

.titulo h1{
    padding: 20px auto;
}

.titulo-inta {
    color: var(--Cor5);
    margin-top: 30px;
}

.titulo-produtos {
    margin-bottom: 0;
    padding-bottom: 0; 
}

@media (max-width: 500px) {
    .titulo-produtos {
        padding: 20px 0;
        font-size: x-small;
        color: var(--Cor4);
        background-color: var(--Cor5);
    }
}