@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald

@media (max-width: 500px) {}
*/

/*------------HISTORIA DA EMRPESA------------*/
.empresa {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

@media (max-width: 1000px) {
    .empresa {
        max-width: 300px;
        margin: auto;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.empresa img {
    width: 580px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

@media (max-width: 1000px) {
    .empresa img {
        width: 300px;
        margin: 10px auto;
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    }
}

.empresa p {
    max-width: 580px;
    margin: 20px 10px;
    font-size: 0.9em;
    text-align: justify;
    font-family: var(--font2);
    color: var(--Cor4);
    display: block;
    text-indent: 3em;
}

@media (max-width: 800px) {
    .empresa p {
        max-width: 300px;
        font-size: 0.9em;
        margin: 5px auto;
    }
}

/*------------VALORES------------*/
.valores {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

@media (max-width: 800px) {
    .valores {
        max-width: 300px;
        flex-direction: column;
    }
}

.valores div {
    width: 280px;
    margin: 10px;
}

.valores div img {
    height: 50px;
    width: auto;
    display: block;
    margin: 10px auto;
}

.valores div h1 {
    font-family: var(--font2);
    color: var(--Cor4);
    text-align: center;
    margin: 10px auto;
}

.valores div p {
    font-family: var(--font1);
    color: var(--Cor4);
    text-align: center;
}

.valores div li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    color: var(--Cor4);

    text-align: center;
}


/*------------DIFERENCIAL------------*/
.diferencial {
    background-color: var(--Cor1);
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

@media (max-width: 800px) {
    .diferencial {
        max-width: 100%;
        margin: 20px auto;
    }
}

.diferencial div {
    max-width: 520px;
    padding: 40px 40px;
}

@media (max-width: 800px) {
    .diferencial div {
        max-width: 300px;
        padding: 0;
        margin: 15px auto;
    }
}

.diferencial div h1 {
    font-family: var(--font2);
    color: var(--Cor5);
}

@media (max-width: 800px) {
    .diferencial div h1 {
        font-size: 1.5em;
    }
}

.diferencial div hr {
    background: var(--Cor5);
    width: 20%;
    height: 2px;
    margin: 10px;
}

@media (max-width: 800px) {
    .diferencial div hr {
        margin: 10px 0;
    }
}

.diferencial div p {
    font-family: var(--font2);
    color: var(--Cor5);
    text-align: justify;
    font-size: 1.1em;
    text-indent: 3em;
}

@media (max-width: 800px) {
    .diferencial div p {
        font-family: var(--font2);
        color: var(--Cor5);
        text-align: justify;
        font-size: 0.9em;
        margin: 5px auto;
    }
}

.diferencial img {
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 40px 20px;
}

@media (max-width: 800px) {
    .diferencial img {
        max-width: 300px;
        margin: 10px auto;
        padding: 0;
    }
}


/*------------RESPONSABILIDADE SOCIAL------------*/
.responsabilidade {
    background-color: var(--Cor2);
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 100%;
}

@media (max-width: 500px) {}

.responsabilidade img {
    width: 48%;
}

@media (max-width: 800px) {
    .responsabilidade img {
        width: 100%;
        margin: auto;
    }
}

.responsabilidade div {
    max-width: 48%;
    padding: 20px;
    margin: auto;
}

@media (max-width: 800px) {
    .responsabilidade div {
        max-width: 300px;
        padding: 0;
        margin: 15px auto;
    }
}

.responsabilidade div h1 {
    font-size: 2.5em;
    font-family: var(--font2);
    color: var(--Cor4);
}

@media (max-width: 800px) {
    .responsabilidade div h1 {
        font-size: 1.5em;
        font-family: var(--font2);
        color: var(--Cor4);
    }
}

.responsabilidade div hr {
    background: var(--Cor1);
    width: 20%;
    height: 2px;
    margin: 10px;
}

@media (max-width: 800px) {
    .responsabilidade div hr {
        background: var(--Cor1);
        width: 20%;
        height: 2px;
        margin: 10px 0;
    }
}

.responsabilidade div p {
    font-family: var(--font2);
    color: var(--Cor4);
    font-size: 1.2em;
    text-align: justify;
    text-indent: 3em;
}

@media (max-width: 800px) {
    .responsabilidade div p {
        font-family: var(--font2);
        color: var(--Cor4);
        font-size: 0.9em;
    }
}