@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald

@media (max-width: 500px) {}
*/

.catalogo {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.catalogo img {
  max-width: 300px;
}

.catalogo div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalogo div a {}

.catalogo div div {
  max-width: 500px;
  margin: 30px 0;
}

.catalogo div div p {}

.catalogo div div a {}