:root{
  --FundoPrincipal: #ffffff; /*Branco*/
  --CorCilente1: #00b83b; /*Verde Bandeira*/
  --CorCilente2: #f8f8f8; /*Cinza Claro*/
  --CorTexto1: #000000; /*Preto*/
  --CorTexto2: #363636; /*Grafite*/
  --CorTexto3: #ffffff; /*Branco*/
  --CorTexto4: #008c2c; /*Verde Escuro*/
  --font1: 'Open Sans', sans-serif;
  --font2: 'Oswald', sans-serif;
}

.mapa, .contato {
    margin: 3% 0;
}

.h1 {
    color: var (--CorTexto3);
    font-family: var(--font2);
    text-align: center;
}

.h2 {
    font-family: var(--font1);
    font-size: 1em;
    text-align: center;
}

.h3 {
    font-family: var(--font1);
    font-size: 2em;
    text-align: center;
}

.h3 a {
    text-decoration: none;
    color: var(--CorTexto1);
}

.google-maps {
    margin: 1%;
}

.contato {
}

.contato img {
    margin: 1%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 739px) {
    .contato img {
    margin: auto;
    width: 80%;
    }
}