@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald
*/


/*------------HISTORIA DA EMRPESA------------*/
.empresa {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.empresa img {
    max-width: 580px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.empresa p {
    max-width: 580px;
    margin: 10px;
    font-size: 0.9em;
    text-align: justify;
    font-family: var(--font1);
    color: var(--Cor4);
}

/*------------VALORES------------*/
.valores {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    
}

.valores div {
    width: 280px;
    margin: 10px;
}

.valores div img {
    height: 50px;
    width: auto;
    display: block;
    margin: 10px auto;
}

.valores div h1 {
    font-family: var(--font2);
    color: var(--Cor4);
    text-align: center;
    margin: 10px auto;
}

.valores div p {
    font-family: var(--font1);
    color: var(--Cor4);
    text-align: center;
}

.valores div li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    color: var(--Cor4);

    text-align: center;
}


/*------------DIFERENCIAL------------*/
.diferencial {
    background-color: var(--Cor1);
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.diferencial div {
    max-width: 600px;
    padding: 40px 20px;
}

.diferencial div h1 {
    font-family: var(--font1);
    color: var(--Cor5);
}

.diferencial div hr {
    background: var(--Cor5);
    width: 20%;
    height: 2px;
    margin: 10px;
}

.diferencial div p {
    font-family: var(--font1);
    color: var(--Cor5);
    text-align: justify;
}

.diferencial img {
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 40px 20px;
}


/*------------RESPONSABILIDADE SOCIAL------------*/
.responsabilidade {
    background-color: var(--Cor2);
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 100%;
}

.responsabilidade img {
    max-width: 48%;
}

.responsabilidade div {
    max-width: 48%;
    padding: 20px;
}

.responsabilidade div h1 {
    font-size: 2.5em;
    font-family: var(--font1);
    color: var(--Cor4);
}

.responsabilidade div hr {
    background: var(--Cor1);
    width: 20%;
    height: 2px;
    margin: 10px;
}

.responsabilidade div p {
    font-family: var(--font1);
    color: var(--Cor4);
    font-size: 0.8em;
    font-weight: lighter;
    text-align: justify;
}