@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald
*/

body {
margin: 0;
padding: 0;
}

footer {
margin: 0;
padding: 0;
}

.rodape-1 {
width: 100%;
padding: 0;
margin-top: 20px;
background-color: var(--Cor2);
height: 80px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

@media (max-width: 500px) {
  .rodape-1 {
    height: auto;
    }
}

.rodape-1 h1 {
margin: 0;
padding: 0;
font-family: var(--font2);
font-weight: normal;
color: var(--Cor4);
margin: 15px 5px;
}

.rodape-1 a {
  width: 120px;
  height: 30px;
  background-color: var(--Cor1);
  margin: 15px 5px;
  text-decoration: none;
  font-family: var(--font1);
  color: var(--Cor5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  .rodape-1 a {
    margin: 0 0 20px 0;
  }
}

.rodape-2 {
  background-color: var(--Cor1);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  .rodape-2 {
    justify-content: center;
  }
}

.rodape-2 div h1 {
font-family: var(--font1);
text-align: center;
font-size: 0.8em;
margin: 10px;
}

@media (max-width: 500px) {
  .rodape-2 div h1 {
    margin: 5px;
    }
}

.rodape-2 div {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .rodape-2 div {
    margin: 5px;
  }
}

.rodape-2 div a img {
float: left;
width: 30px;
margin: 5px
}

