@import url(geral.css);

/*
--Cor1: Verde Bandeira
--Cor2: Cinza Claro
--Cor3: Preto
--Cor4: Grafite
--Cor5: Branco
--Cor6: Verde Escuro
--font1: Open Sans
--font2: Open Sans Condensed
--font3: Oswald
*/

.topo-1 {
    margin: auto;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topo-1 img {
    width: 200px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .topo-1 img {
        width: 220px;
        margin: 4% 2%;
        float: left;
        }
}

.topo-1 button {
    display: none;
}

@media (max-width: 500px) {
    .topo-1 button {
        float: right;
        display: flex;
        background: var(--Cor1);
        border: none;
        padding: 4% 5%;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: var(--font3);
        font-size: bold;
        color: var(--Cor5);
        margin: 7% 2%;
        align-items: center;
    }
    .topo-1 button:focus {
        background: var(--Cor6);
        border: none;
    }

    .topo-1 button::before {
        margin-right: 5%;
        content: '';
        height: 2px;
        width: 15px;
        background: var(--Cor5);
        box-shadow: 0 4px, 0 -4px;
    }
}

.menu-mobile {
    display: none;
}

@media (max-width: 500px) {
    .menu-mobile {
        display: block;
        background-color: var(--Cor1);
    }

    .menu-invisivel {display: none}

    .menu-mobile {}

    .menu-mobile ul{
        height: auto;
        margin: 0;
        text-align: center;
    }

    .menu-mobile a {
    color: var(--Cor5);
    text-decoration: none;
    text-align: center;
    padding: 8px;
    display: block;
    font-family: var(--font3);
    }
}

.topo-2 {
    height: 64px;
    background-color: var(--Cor1);
}

@media (max-width: 500px) {
    .topo-2 {
        display: none;
    }
}

.menu-desktop {}

.menu-desktop ul {
    height: auto;
    margin: 0;
    text-align: center;
}

.menu-desktop a {
    color: var(--Cor5);
    text-decoration: none;
    text-align: center;
    padding: 15px 5px;
    margin: 5px 5px;
    display: inline-block;
    font-family: var(--font3);
    transition: all .3s ;
}

.menu-desktop a:hover {
    transform: scale(1.1);
    background-color: var(--Cor6);
    border-radius: 5px;
}
